MAIN_ROOT_FOLDER = "directory where you want to work on"
VIEWABLE_FOLDER_ROOT = "root direcitory where you want the agent to view, but not edit"
FRONT_CHARS = "12"
BACK_CHARS = "10"
OPENAI_API_KEY = "API_KEY_HERE"